:root {
	--palette-main: #1d3557;
	--palette-secondary: #457b9d;
	--palette-contrast: #f1faee;
}

* {
	font-family: Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: Helvetica, sans-serif;
	background-color: var(--palette-main);
	color: var(--palette-contrast);
}

.title {
	font-size: 3em;
	font-weight: 100;
	padding-inline: 2rem;
}

.subtitle {
	font-size: 1rem;
	font-weight: 300;
	padding: 0 1em 0 1em;
}

.view {
	flex: 1;
}

.control {
	min-height: 60vh;
}

.form {
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.input {
	font-size: 1em;
	width: 100%;
	color: var(--palette-contrast);
	background-color: transparent;
	border: 1px solid var(--palette-secondary);
	padding: 14px 12px;
}

.button {
	width: 100%;
	font-size: 1em;
	padding: 15px 12px;
	text-align: start;
	background-color: var(--palette-contrast);
	color: var(--palette-main);
	font-weight: 600;
	border: none;
	text-transform: capitalize;
}

.paragraph {
	padding: 1em;
	font-size: 1.4em;
	font-weight: 100;
}

.list {
	width: 100%;
	list-style: none;
}

.list > .list__entity:nth-child(1n):not(:last-child) {
	border-bottom: 1px solid var(--palette-secondary);
}

.list > .list__entity > a {
	display: block;
	width: 100%;
	padding: 1rem 2rem;
	background-color: var(--palette-main);
	border: none;
	text-align: start;
	color: var(--palette-contrast);
	text-transform: capitalize;
	text-decoration: none;
	font-size: 1.2em;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.list > .list__entity:hover > a {
	background-color: var(--palette-secondary);
}

.hidden {
	display: none;
}
