<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Aquaphobic | %LAYOUT_PAGE%</title>
	<link rel="icon" type="image/x-icon" href="/data/public/shared/favicon.ico">
  <link rel="stylesheet" href="/data/public/shared/global.css" />
	<script src="/data/public/shared/htmx@2.0.4.js"></script>
</head>
<body>
	<header>
		<h1 class="title">Aquaphobic</h1>
		<nav hx-boost="true">
			<ul class="list">
				<li class="list__entity">
					<a href="/" hx-target="#main">Home</a>
				</li>
				<li class="list__entity">
					<a href="/wifi/" hx-target="#main">Wifi</a>
				</li>
			</ul>
		</nav>
	</header>
	<main id="main">
		%CONTENT%
	</main>
</body>
</html>