:root {
  --palette-main: #1d3557;
  --palette-secondary: #a9d487;
  --palette-contrast: #e0e1dd;

  --palette-neutral: #0f1112;
  --palette-success: #78e114;
  --palette-warning: #ed9b27;
  --palette-danger: #e35b4e;
  --palette-info: #3273d6;
}
